{% extends "base.html" %}

{% block title%} Log in | Notes Manager {% endblock %}

{% block content %}

<div id="login" class="login-box box box-medium">
	<header><h1>Log in</h1></header>	
	<section id="log-in-container" class="clearfix">
	<div>
		<form id="login-form" class="nm login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
			{% if form.errors %}
			<div><span style="color: #D04437; font-size: 16px;">Your username and password didn't match. Please try again.</span></div>
			{% endif %}
			<div class="field-group username"><label for="id_username">Username</label>{{ form.username }}</div>
			<div class="field-group"><label for="id_password">Password</label>{{ form.password }}</div>
			<div class="buttons-container">
				<div class="buttons">
					<input class="btn" name="submit" type="submit" value="Log in"></input>
					<a class="forgot-password" href="#">Forgot your password?</a>
				</div>
				<div class="sign-up"><a href="/signup/">Need an account? Sign up free.</a></div>
			</div>
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>	
	</section>
</div>



{% endblock %}
