html, body, p, div, h1, h2, h3, h4, h5, h6, img, pre, form, fieldset {
    margin: 0px;
    padding: 0px;
}

body {
    color: #333;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    background: none repeat scroll 0% 0% #F9F9F9;
}

#page {
    min-width: 1024px;
}

#content {
    margin: 0px;
    padding: 0px;
}

#content {
    box-sizing: border-box;
    clear: both;
    position: relative;
}

body #content {
    padding: 40px 50px;
}

.aui-header {
    color: #FFF;
}

.nm-header, #footer {
	clear: both;
	float: left;
	width: 100%;
}

.nm-header {
	background: none repeat scroll 0% 0% #205081;
	border-bottom: 1px solid #2E3D54;
	box-sizing: border-box;
	color: #FFF;
	padding: 0px 10px;
}

h1 {
    font-size: 21px;
    font-weight: normal;
    line-height: 1.25;
    margin: 30px 0px 0px;
}

.nm-header .nm-header-logo, .nm-header .nm-nav {
    margin: 0px;
    padding: 0px;
    float: left;
}

.nm-header .nm-header-logo a {
    box-sizing: border-box;
    float: left;
    height: 40px;
    padding: 8px 10px;
}
.nm-header a {
    color: #FFF;
    display: block;
    line-height: 1;
    padding: 13px 10px;
}

/*a {
    color: #3B73AF;
    text-decoration: none;
}*/

.nm-header-logo-device {
	width: 102px;
}

.nm-header .nm-header-secondary .nm-nav {
    float: right;
}

.nm-header .nm-nav > li {
    float: left;
    padding: 0px;
}
.nm-nav, .nm-nav > li {
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
}

.nm-header .nm-dropdown2-trigger.active, .nm-header a:focus, .nm-header a:hover, .nm-header a:active {
    background-color: #3B73AF;
}
.nm-header a:visited, .nm-header a:focus, .nm-header a:hover, .nm-header a:active {
    text-decoration: none;
}

.nm-header .nm-nav .nm-button-primary, .nm-header .nm-nav .nm-button-primary:link, .nm-header .nm-nav .nm-button-primary:visited {
    background: linear-gradient(to bottom, #3B7FC4 0px, #336EA9 100%) repeat scroll 0% 0% transparent;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    border: 0px none;
    color: #FFF;
    line-height: 1.57143;
    text-shadow: 0px 1px 0px #295989;
}

.nm-header .nm-button.nm-button-primary {
    background: linear-gradient(to bottom, #3B7FC4 0px, #2C66A2 100%) repeat scroll 0% 0% transparent;
    border: 0px none;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    margin: 5px 10px 0px;
    padding: 4px 10px;
}

.nm-header .nm-nav .nm-button.nm-button-primary:focus, .nm-header .nm-nav .nm-button.nm-button-primary:hover {
    background: linear-gradient(to bottom, #4796E6 0px, #3773AF 100%) repeat scroll 0% 0% transparent;
    color: #FFF;
}

/* Log in */

.box-medium {
    width: 600px;
}

.box {
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0px auto 60px;
    padding: 30px;
}

.box > header {
    padding: 0px 0px 12px;
    position: relative;
}

.login-box[data-method="standard"] .secondary-link.standard, .login-box[data-method="standard"] #log-in-container {
    display: inherit;
}
.box > section {
    border-top: 1px solid #CCC;
    display: inline-block;
    padding: 20px 0px 0px;
    position: relative;
    width: 100%;
}

form.nm .field-group label, form.nm .field-value {
    line-height: 1.28571;
}

.box form.nm input.text, .box form.nm input.password, .box form.nm .select, .box form.nm textarea {
    width: 100%;
}

#login-form .forgot-password {
    margin-left: 10px;
}

#login-form .sign-up {
    margin-top: 20px;
}

form.nm .field-group:after, form.nm .group:after, form.nm .date-select:after {
    clear: both;
}

form.nm .field-group:before, form.nm .field-group:after, form.nm .group:before, form.nm .group:after, form.nm .date-select:before, form.nm .date-select:after {
    content: " ";
    display: table;
}

form.nm .field-group, form.nm .group, form.nm .date-select {
    box-sizing: border-box;
    clear: both;
    padding: 4px 0px 4px 145px;
    position: relative;
    margin: 1px 0px;
    width: 100%;
}

form.nm legend, form.nm .field-group > label {
    float: left;
    margin-left: -145px;
    padding: 5px 0px 0px;
    position: relative;
    text-align: right;
    width: 130px;
    word-wrap: break-word;
}
form.nm legend, form.nm label {
    color: #707070;
}

form.nm .long-field {
    max-width: 500px;
}

form.nm .text, form.nm .password, form.nm .select, form.nm .nm-select2-container .select2-choices {
    height: 2.14286em;
    line-height: 1.42857;
    padding: 4px 5px;
}

form.nm .text, form.nm .password, form.nm .textarea, form.nm .select, form.nm .multi-select, form.nm .nm-select2-container .select2-choices {
    border: 1px solid #CCC;
    border-radius: 3.01px;
    box-shadow: 0px 1px 3px #CCC inset;
    box-sizing: border-box;
    font-size: inherit;
    margin: 0px;
    max-width: 250px;
    vertical-align: baseline;
    width: 100%;
}

form.nm .buttons-container {
    box-sizing: border-box;
    clear: both;
    margin: 1px 0px 0px;
    padding: 4px 0px 4px 145px;
    position: relative;
    width: 100%;
}

form.nm .buttons-container > .buttons > * {
    font-size: 14px;
}

.nm-button.nm-button-primary, .nm-button.nm-button-primary:visited {
    background: linear-gradient(to bottom, #4687CE 0px, #3068A2 100%) repeat scroll 0% 0% transparent;
    border-color: #486582;
    color: #FFF;
    font-weight: bold;
    text-shadow: 0px 1px 0px #295989;
}
