{% extends 'base.html' %}

{% block title %}Add{% endblock %}

{% block content %}

<form class="form-horizontal" role="form" style="padding: 0px 162px 0px 50px;">
    <div class="form-group">
    	<label class="col-sm-1 control-label">Title</label>
    	<div class="col-sm-10">
	    <input id="title" type="text" class="form-control" placeholder="Title">
    	</div>
    </div>
    <div class="form-group">
    	<label class="col-sm-1 control-label">Body</label>
	<div class="col-sm-10">
	    <textarea id="body" class="form-control" placeholder="Body"></textarea>
	</div>
    </div>
    <div class="form-group">
    	<label class="col-sm-1 control-label">Category</label> 
	<div class="col-sm-10">
    	    <select name="category" id="category" class="form-control" style="width: 10%;">
            {% for c in categories %}
	        <option value="{{ c }}">
	            {{ c|capfirst }}
	    	</option>
	    {% endfor %}
    	    </select>
    	</div>
    </div>
    <div class="form-group">
	<div class="col-sm-offset-1 col-sm-10">
	    <div class="checkbox"><label><input type="checkbox" id="isFav"> Favorite</label></div>
	</div>
    </div>
    <div class="form-group">
	<div class="col-sm-offset-1 col-sm-10">
		<input id="saveNote" type="button" class="btn btn-default" value="Save" onclick="save_note();">
	</div>
    </div>
</div>

<p><div id="dvSuccess" style="color: #006621;"></div></p>
<p><div id="dvError" style="color: #DD4B39;"></div></p>
</form>

<script type="text/javascript">
function save_note(){
    $('#dvError').html("");
    $('#dvSuccess').html("");

    if($('#title').val().length == 0) {
	$('#dvError').html("Please, enter the title");
	return;
    }
    
    var category = document.getElementById('category');
    var c = category.options[category.selectedIndex].text;
    console.log(c);
    var isFav = $('#isFav:checkbox:checked').val();
    if(isFav == "on") {
	isFav = true;
    }
    else {
	isFav = false;
    }
    console.log(isFav);
    $.ajax({
	type: 'POST',
	url: '/notes/add/',
	data: {
	    'title': $('#title').val(),
	    'body': $('#body').val(), 
	    'category': c,
	    'isFavorite': isFav
	},

	success: function(data) {
	    $("#dvSuccess").html("Your note was successfuly added.");
	},
	error: function() {
	    $('#dvError').html("Error while saving...");
	}
    });
    return false;
}
</script>

{% endblock %}
