{% extends "base.html" %}

{% block content %}

<h1>Delete Contact</h1>

<p>Are you sure you want to delete the contact {{ note }}?</p>

<form action="{% url "notes-delete" pk=note.id %}" method="POST">
  {% csrf_token %}

  <input type="submit" value="Yes, delete." />
  <a href="{% url "notes-list" %}">No, cancel.</a>
</form>

{% endblock %}
