{% extends 'base.html' %}

{% block title %}Edit{% endblock %}

{% block content %}

<script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/tiny_mce.js"></script>
<form class="form-horizontal" role="form" style="padding: 0px 162px 0px 50px;">
    <dl class="dl-horizontal">
    	<dt><a href="/notes/{{note.uuid}}/" target="_blank">Publish note</a></dt><dd></dd>
	<dt>Date created</dt> <dd>{{ note.created }}</dd>
	<dt>Last modified</dt> <dd>{{ note.modified }}</dd>
    </dl>
    <div class="form-group">
    	<label class="col-sm-1 control-label">Title</label>
    	<div class="col-sm-10">
	    <input id="title" type="text" class="form-control" value="{{ note.title }}">
    	</div>
    </div>
    <div class="form-group">
    	<label class="col-sm-1 control-label">Body</label>
	<div class="col-sm-10">
	    <textarea id="body" class="form-control">{{ note.body|safe }}</textarea>
	</div>
    </div>
    <div class="form-group">
    	<label class="col-sm-1 control-label">Category</label> 
	<div class="col-sm-10">
    	    <select name="category" id="category" class="form-control" style="width: 10%;">
		{% for c in categories %}
		    <option value="{{ c }}" 
			{% if c == note.category %}selected="selected"{% endif %}>
			{{ c|capfirst }}
		    </option>
		{% endfor %}
    	    </select>
    	</div>
    </div>
    <div class="form-group">
	<div class="col-sm-offset-1 col-sm-10">
	    <div class="checkbox"><label><input type="checkbox" id="isFav" {% if note.isFavorite %}checked{% endif %}> Favorite</label></div>
	</div>
    </div>
    <div class="form-group">
	<div class="col-sm-offset-1 col-sm-10">
		<input id="editNote" type="button" class="btn btn-default" value="Save" onclick="edit_note();">
		<input id="deleteNote" type="button" class="btn btn-default" value="Delete" onclick="delete_note();">
	</div>
    </div>
</div>

<p><div id="dvSuccess" style="color: #006621;"></div></p>
<p><div id="dvError" style="color: #DD4B39;"></div></p>
</form>

<script type="text/javascript">
function edit_note(){
    $('#dvError').html("");
    $('#dvSuccess').html("");

    if($('#title').val().length == 0) {
	$('#dvError').html("Please, enter the title");
	return;
    }
    
    var category = document.getElementById('category');
    var c = category.options[category.selectedIndex].text;
    console.log(c);
    var isFav = $('#isFav:checkbox:checked').val();
    if(isFav == "on") {
	isFav = true;
    }
    else {
	isFav = false;
    }
    console.log(isFav);
    $.ajax({
	type: 'POST',
	url: '/notes/edit/{{note.id}}/',
	data: {
	    'title': $('#title').val(),
	    'body': $('#body').val(), 
	    'category': c,
	    'isFavorite': isFav
	},

	success: function(data) {
	    $("#dvSuccess").html("Your note was successfuly updated.");
	},
	error: function() {
	    $('#dvError').html("Error while saving...");
	}
    });
    return false;
}

function delete_note(){
	$.ajax({
	    type: 'POST',
	    url: '/notes/delete/{{note.id}}/',
	    data: {  },
	    success: function(data) {
		$('#dvForm').hide();
		$("#dvSuccess").html("Your note was deleted.");
	    },
	    error: function() {
		$('#dvError').html("Error while deleting ...");
	    }
	});
	return false;
}
</script>

{% endblock %}
