{% extends 'base.html' %}

{% block title %}Edit{% endblock %}

{% block content %}

<form action="{{ action }}" method="POST">
  {% csrf_token %}
  <ul>
    {{ form.as_p }}
  </ul>
  <input id="save_contact" type="submit" value="Save" />
</form>

<a href="{% url "notes-list" %}">back to list</a>

{% endblock %}
