{% extends 'base.html' %}

{% block title %}Notes{% endblock %}

{% block content %}

{% if object_list %}
<table class="table table-hover" id="notes">
    <thead><tr><td>Title</td><td>Date created</td><td>Last modified</td><td>Category</td><td>Favorite</td><td></td></tr></thead>
    <tbody>
    	{% for note in object_list %}
	<tr>
    	<td><a href="{% url 'notes-edit' pk=note.id  %}">{{note.title}}</a></td>
    	<td>{{note.created}}</td>
    	<td>{{note.modified}}</td>
    	<td>{{note.category}}</td>
    	<td>{{note.isFavorite}}</td>
	<td><input id="deleteNote" type="button" class="btn btn-danger btn-xs" value="Delete" onclick="delete_note({{note.id}});"></td>
        </tr>
    	{% endfor %}
    </tbody>
</table>
{% else %}
<p style="color:#777;">No notes are avaliable.</p>
{% endif %}

<script type="text/javascript">
//document.ready(function(){
//	$('#notes').dataTable().fnDestroy();
//});

function delete_note(note_id){
	$.ajax({
	    type: 'POST',
	    url: '/notes/delete/'+note_id+'/',
	    data: {  },
	    success: function(data) {
		//console.log("pl");
		//$("#notes").trigger("update");
	    },
	    error: function() {
		$('#dvError').html("Error while deleting ...");
	    }
	});
	return false;
}

</script>

{% endblock %}
