<!DOCTYPE html>
<html lang="en">
    <head>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
	<link type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
	<link type="text/css" href="{{STATIC_URL}}css/style.css" rel="stylesheet"></link>
	<title>{% block title %}{% endblock %} | Notes Manager</title>
    </head>
    <body>
	<div id="page">
	    <div id="wrapper">
		<header id="header" role="banner">
		    <nav class="nm-header" role="navigation">
			<div class="nm-header-inner">
			    <div class="nm-header-primary">
				<h1 class="nm-header-logo" id="logo">
					<a href="/" title="Notes Manager"><span class="nm-header-logo-device">Notes Manager</span></a>
				</h1>
				<ul class="nm-nav" style="width: auto;">
					<li><a href="#">Features</a></li>
					{% if not user.is_anonymous %}
					<li><a href="{% url 'notes-add' %}" class="btn btn-primary" title="Create note" style="font-weight:bold;" >Create</a></li>
					{% endif %}
				</ul>
			    </div>
			    <div class="nm-header-secondary">
				<ul class="nm-nav" role="menu">
				    {% if user.is_anonymous %}
				    <li id="header-signup-button"><a id="sign-up-link" class="nm-button nm-button-primary nm-style" href="{% url 'django.contrib.auth.views.login' %}">Sign up</a></li>
				    <li id="user-options"><a class="" href="{% url 'django.contrib.auth.views.login' %}">Log in</a></li>
				    {% else %}
				    <li id="user-options"><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user }}</a></li>
				    <li id="user-options"><a class="" href="{% url 'django.contrib.auth.views.logout' %}">Log out</a></li>
				    {% endif %}
				</ul>
			    </div>
			</div>
		    </nav>
		</header>
		<div id="content" role="main">
		    {% block content %}
	    	    {% endblock %}
		</div>
		<footer id="footer">
		</footer>
	    </div>
	</div>
    </body>
</html>
